:root {
    --main-font: #000;
    --bg-color: #FFF;
    --primary-color: rgb(60, 82, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--main-font);
    font-family: sans-serif;
    padding: 4rem;
}

a {
    text-decoration: none;
    color: var(--main-font);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* Header Style */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    margin: -4rem;
    margin-bottom: 4rem;
}

header div {
    margin: 2rem 4rem;
}

header img {
    height: 2rem;
    width: auto;
}


/* Map Style */

#map {
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
}


/* Category Style */

#category {
    min-width: 30vw;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-auto-rows: min-content;
    gap: 1rem;
    margin-left: 4rem;
}

.category {
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: .2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.category:hover .category-image {
    filter: brightness(0.7);
    transform: scale(1.2);
}

.category a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    filter: brightness(0.5);
    transition: .2s ease-in-out;
}

.category-title {
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 1rem;
    position: relative;
    color: white;
}

#list {
    list-style-type: none;
    margin-top: -1rem;
}

.activity {
    background-color: rgb(237, 237, 237);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 1rem;
}

.activity>* {
    line-height: 1.8rem;
}

.activity-tag {
    margin-top: 1rem;
    width: min-content;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}