:root {
    --main-font: #000;
    --bg-color: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--main-font);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-font);
}

/* Map Style */
#map {
    width: 20rem;
    height: 20rem;
}

/* Category Syle */
#category {
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 10rem);
    gap: 1rem;
}

.category {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 1rem;
    transition: .2s ease-in-out;
}
.category:hover {
    background-color: rgb(219, 219, 219);
}

.category-image {
    width: 5rem;
    height: 5rem;
}
.category-title {
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 1rem;
}