<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="" />
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
    <title>WebServices</title>
</head>

<body>
    <h1>Carte des activités</h1>
    <div id="map"></div>
    <div id="category"></div>
    <script src="/js/map.js"></script>
    <script src="/js/category.js"></script>
</body>

</html>