<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon/png" href="" />
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
    <title>WebServices</title>
</head>

<body>
    <header>
        <div><img src="/assets/logo.png" alt="Logo de Sportfinder"></div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
            </ul>
        </nav>
    </header>
    <h1>Activités dans la catégorie</h1>
    <main>
        <div id="map"></div>
        <ul id="list"></ul>
    </main>
    <script src="/js/map.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const rootURL = window.location.href.split('/')[2];
        let lat = '';
        let lng = '';
        if (urlParams.get('lat') && urlParams.get('lng')) {
            lat = '?lat=' + urlParams.get('lat');
            lng = '&lng=' + urlParams.get('lng');
            map.setCenter([urlParams.get('lng'), urlParams.get('lat')]);
        }
        fetch(`https://${rootURL}/api/activity/category/${urlParams.get('name')}${lat}${lng}`, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('list');
                data.forEach(activity => {
                    const li = document.createElement('li');
                    li.className = 'activity';
                    li.innerHTML = `<a href="/edit/${activity._id}">
                <h2>${activity.name}</h2>
                <p>${activity.description}</p>
                <p>⏲ ${activity.schedule}</p>
                <div class="activity-tag">${activity.category}</div>
                </a>
                `;
                    list.appendChild(li);
                    if (activity.coords.length < 2) activity.coords = activity.coords[0].split(',')
                    addMarkers([], activity.coords, activity.name);
                });
            });
    </script>
    <script src="/js/climbing.js"></script>

</body>

</html>